.App {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h2{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(39, 109, 248);
  font-weight: bolder;
}


#run {    
  display: flex;
  text-align: left;
  margin-left: 5%;
  margin-top: auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  flex-direction: row;
}

#run button {
  height: 50px;
  width: 80px;
  border-radius: 10px;
}

#run .textinput {
  margin: 10px;
}


pre {
  text-align: left;
  border: 2px solid grey;
  width: 90%;
  height: 15vh;
  margin: auto;
  overflow-y: auto;
  overflow-x: auto;
  color: white;
}

#editor {
  text-align: center;
  width: 90%;
  margin: auto;
  border: 2px solid rgb(75, 67, 67);
}

#switch{
  margin-left: 50px;
}